.box {
    max-width: 1000px;
    height: auto;
    background-color: black;
    padding: 25px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: chartreuse;
    margin: auto;
}

@media(max-width: 500px) {
    .box {
        background-color: darkblue;
    }
}