.custom-nav {
    font-size: small;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.3);
}

.custom-nav ul.dropdown-menu {
    font-size: small;
}

/* https://cssgradient.io/ */
.custom-divider {
    height: 5px;
    background: rgb(161,159,189);
    background: linear-gradient(90deg, rgba(161,159,189,1) 0%, rgba(9,9,121,1) 8%, rgba(15,228,35,1) 22%, rgba(7,62,156,1) 32%, rgba(32,96,89,1) 39%, rgba(5,95,178,1) 47%, rgba(193,183,4,1) 57%, rgba(3,137,206,1) 66%, rgba(2,155,218,1) 74%, rgba(225,2,90,0.962962962962963) 79%, rgba(1,179,234,1) 85%, rgba(22,244,1,1) 92%, rgba(0,212,255,1) 100%);
}

.main-banner {
    padding-top: 150px;
    padding-bottom: 100px;
    background-image: url(../Images/Banner.jpg);
    background-size: cover;
    color: white;
}

.features-holder {
    text-align: center;
    margin-bottom: 25px;
}

section.features {
    padding-top: 35px;
    padding-bottom: 25px;
    background-color: whitesmoke;
}

.features-holder h3 {
    font-size: 2em;
}

.features-holder p {
    font-size: 1em;
}

section.online-courses, .classroom-training, .reviews-slider, .page-content {
    padding-top: 35px;
    padding-bottom: 35px;
}

.online-courses-text-widget, .classroom-courses-text-widget, .review-text-widget {
    text-align: center;
}

.online-courses-text-widget, .card-title h2, .classroom-courses-text-widget h2{
    font-size: 1.3em;
}

.online-courses-text-widget h2, p, .card-title, .btn-text, .classroom-courses-text-widget h2, .review-text-widget h2, p{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.card:hover {
    margin-bottom: 25px;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.3);
    transition-duration: 0.4s;
}

.classroom-training, .page-content {
    background-color: whitesmoke;
}

.reviews-slider {
    background-color: #ececec;
}

.sign-up-form-sliderbar .card-title{
    font-size: 1.2em;
}

.sign-up-form-sliderbar .card-text {
    font-size: 14px;
}

.course-list-item {
    color: black;
    font-size: small;
    padding-top: 15px;
}

.card-body:hover{
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    transition-duration: 0.4s;
}

.course-list-item:hover h5 {
    margin-left: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.3);
    transition-duration: 0.4s;
    background-color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
}

.review-text-widget {
    text-align: center;
    margin-bottom: 25px;
}

#review-slider-content li .card {
    text-align: center;
}

#review-slider-content li .card img{
    margin-bottom: 10px;
    width: 50px;
    height: auto;
}

#review-slider-content li .card-title {
    font-size: 18px;
    font-weight: bold;
}

#review-slider-content li .star {
    color: orange;
    font-size: 15px;
}

footer.main-footer {
    background-color: rgb(46, 44, 44);
    color: ghostwhite;
    padding-top: 35px;
    padding-bottom: 35px;
}

footer.main-footer:hover {
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 2px 2px 12px rgba(252, 249, 249, 0.3);
    transition-duration: 0.4s;
    background-color: black;
    font-family: serif;
    color: whitesmoke;
}

aside.footer-widget {
    margin-bottom: 25px;
}

aside.footer-widget h1 {
    font-size: 16px;
}

aside.footer-widget ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

aside.footer-widget ul li a {
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    display: inline-block;
    margin-bottom: 5px;
}

address h2 {
    font-size: 20px;
}

address p {
    font-size: 14px;
}

#footer-e-mail:hover, #footer-phone:hover, .table:hover {
    margin-left: 5px;
    transition-duration: 0.4s;
    font-family: serif;
    color: whitesmoke;
    text-decoration: none;
}

section.copy{
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: black;
    font-size: 14px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(232, 248, 232);
}

section.copy p{
    margin: 0px;
}

.google-map {
    padding-top: 56px;
}

.table:hover {
    margin: 3px;
    transition-duration: 0.3s;
    color: ghostwhite;
    background-color: #198754;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}