body{
    margin: 0 auto;
    background-color: grey;
}

.container {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: auto;
}

.Logo {
    float: left;
    padding: 15px;
}

.Search {
    float: right;
    padding: 15px;
}

.clearfix{
    clear: both;
}

.Main-Menu {
    background-color: silver;
}

.Main-Menu > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.Main-Menu > ul > li {
    display: inline-block;
}

.Main-Menu > ul > li > a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.Main-Menu > ul > li > a:hover {
    background-color: orange;
}