body{
    margin: 0 auto;
    background-color: grey;
}

.container {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: auto;
}

.Logo {
    float: left;
    padding: 15px;
}

.Search {
    float: right;
    padding: 15px;
}

.clearfix{
    clear: both;
}

.Main-Menu {
    background-color: silver;
}

.Main-Menu > ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.Main-Menu > ul > li {
    display: inline-block;
}

.Main-Menu > ul > li > a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}

.Main-Menu > ul > li > a:hover {
    background-color: orange;
}

/* Drop Down Menu */
.drop {
    margin: 0px;
    padding: 0px;
    list-style: none;
    position: absolute;
    display: none;
    z-index: 999;
}

.drop > li > a {
    color: black;
    text-decoration: none;
    display: block;
    padding: 15px;
    font-family: sans-serif;
    font-size: small;
    background-color: whitesmoke;
}

.drop > li > a:hover {
    background-color: orange;
}

.Main-Menu > ul > li:hover .drop {
    display: block;
}

/* Banner */
.Banner {
    width: 1000px;
    height: 772.412px;
    float: auto;
    padding: 15px;
    /*overflow: hidden;*/
}

.Banner > img {
    width: 50%;
    height: auto;
}

/* Content Holder */
.Content-Holder {
    background-color: orange;
}

.Content {
    width: 700px;
    height: auto;
    padding: 25px;
    background-color: whitesmoke;
}

.Content h1 {
    font-size: 1.5em;
    font-family: sans-serif;
}

.Content p {
    font-size: small;
    font-family: sans-serif;
}