body{
    margin: 0 auto;
    background-color: grey;
}

.container {
    width: 1000px;
    height: auto;
    background-color: white;
    margin: auto;
}

.Logo {
    float: left;
    padding: 15px;
}

.Search {
    float: right;
    padding: 15px;
}

.clearfix{
    clear: both;
}