@import url(http://fonts.googleapis.com/css?family=Rokkitt);
 h1 {
    font-family:'Rokkitt', serif;
    text-align: center;
	color:#fff;
	font-size:35px;
    text-shadow: 3px 1px darkgrey;
}
ul {
    list-style: none;
}
li {
    font-family:'Rokkitt', serif;
    font-size: 2em;
	color:#feb135;
}
input[type=radio] {
    border: 0px;
    width: 20px;
    height: 2em;

}
p {
    font-family:'Rokkitt', serif;
}
/* Quiz Classes */
 .quizContainer {
    background-color:#5a0453; 
    border-radius: 8px;
    width: 75%;
    margin: auto;
	margin-top: 190px;
    padding-top: 5px;
    /*-moz-box-shadow: 10px 10px 5px #888;
    -webkit-box-shadow: 10px 10px 5px #888;
    box-shadow: 10px 10px 5px #888;*/
    position: relative;
}
.nextButton {
    /*box-shadow: 3px 3px 5px #888;*/
    border-radius: 6px;
    width: 150px;
    height: 40px;
    text-align: center;
    background-color:#51ff00c2;
    /*clear: both;*/
    color:rgb(3, 70, 8);
    font-family:'Rokkitt', serif;
	font-weight:bold;
    position: relative;
    margin: auto;
    padding-top: 20px;
    text-shadow: 3px 1px rgba(255, 0, 0, 0.473);
}
.question {
    font-family:'Rokkitt', serif;
    font-size: 2em;
    width: 90%;
    height: auto;
    margin: auto;
    border-radius: 6px;
    background-color:#14a762;
    text-align: center;
	color: rgb(253, 252, 251);
    text-shadow: 3px 1px darkgrey;
}
.quizMessage {
    background-color: peachpuff;
    border-radius: 6px;
    width: 30%;
    margin: auto;
    text-align: center;
    padding: 2px;
    font-family:'Rokkitt', serif;
    color: rgb(66, 14, 14);
}
.choiceList {
    font-family: Courier, serif;
    color: blueviolet;
}
.result {
    width: 30%;
    height: auto;;
    border-radius: 6px;
    background-color: linen;
    margin: auto;
	margin-bottom:35px;
    text-align: center;
    font-family:'Rokkitt', serif;
}
/* End of Quiz Classes */